body, html{
  height: 100vh;
  background-color: #afceff;
}
h1{
  text-align:center;
  color:#000;
  font-size: 3.75rem;
}
/*Stat tracker styling*/
.stats{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 5px;
  justify-content: center;
  text-align: center;
  margin-left:40px;
  margin-right: 40px;
  font-size: 2.0rem;
}
.timer, .moves, .rating{
  border: 1.3em solid transparent;
  border-radius: 5%;
  background-color: #fff;
}
#stars{
  color:#fffa00;
  font-size: 2.25rem;
}
/*Start and reset button positioning*/

button {
  border: 0.3em solid transparent;
  border-radius: 10%;
  background-color: #fff;
  padding:10px;
  margin-right: 10px;
  font-size:1.5rem;
  font-weight: 800;
}
button:hover{
  cursor: pointer;
}

.game_button{
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
  margin-top: 30px;
}

/*Game grid styling*/
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap:25px;
  padding:100px;
  vertical-align: center;
}
.card {
  color: #000;
  background-color: #fff;
  text-align: center;
  padding:85px;
  border-radius: 5%;
  cursor:pointer;
  border: 0.3em solid transparent;
  font-weight:800;
  font-size:3.25rem;

}



.container{
  display:block;
}
/*End game display styling*/
#endDisplay{
  display:none;

}

.endDisplay-content{
  border: 0.3em solid transparent;
  border-radius: 10%;
  background-color: #fff;
  text-align: center;
  width: 460px;
   height: 350px;
   margin: 0 auto;
   position: absolute;
   padding: 25px;
   left: 50%;
   top: 50%;
   margin-left: -230px;
   margin-top: -250px;

}

.endDisplay-header{
  width:100%;
}
